@import 'settings';
@import 'foundation-emails';
@import 'flight';
@import 'header';
@import 'hotel';
@import 'body';
@import 'download';
@import 'dashboard';
@import 'data';
@import 'status';
@import 'unsubscribe';



h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: gil;
  font-family: futuraLight;
}

body,
p,
a {
  font-family: futuraLight;
  font-size: $global-font-size;
}

.blue {
  color: $primary-color;
}

.primary-background {
  background-color: $primary-color;
  width: 100%;

  img {
    margin: 0 auto;
  }
}

.text-small {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.text-block {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.text-complementary {
  color: $complementary-color;
  font-family: gil;
  font-weight: bold;
}

.clouds-title {
  color: $primary-color;
}

.small-columns {
  &--right {
    & tr {
      text-align: right;
    }
  }
}

.full-text { display: block}
.split-text {display: none}

@media only screen and (max-width: #{$global-breakpoint}) {
  h4 {font-size: 16px !important}
  h5 {font-size: 21px !important}

  a,
  p {font-size: 14px}

  .text-small {font-size: 12px !important}
  .full-text { display: none !important}
  .split-text {display: block !important}
  .banner {
    width: 100% !important;
  }
}
