@import 'settings';

.flight {

  & .container {
    margin: 0;

    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: 10px 0 0 10px;
    }
  }

  & .wrapper-inner {
    padding: 17px 15px 15px 36px;

    @media only screen and (max-width: #{$global-breakpoint}) {
      padding: 0;
    }
  }

  & .columns {
    padding-bottom: 0;
  }

  &__number {
    font-weight: bold;
    margin: 0;

    @media only screen and (max-width: #{$global-breakpoint}) {
      margin: 7px 0 0;
    }
  }

  &__shared{
    font-weight: bold;
  }
}


@media only screen and (max-width: #{$global-breakpoint}) {
  th.columns .tracker-link {
    margin-right: 10px;
  }
}
