@import 'settings';

.hotel_image {
    img {
        width: 90% !important;
       
    }
}

.hotel_description {
	
    h4 {
        font-family: gil;
    }
}


.font_message {
	font-family: gil;
	font-size: 16px;
}

.font_ĺounge{
	font-family: gil;
	font-size: 12px;
}

.font_car{
	font-family: gil;
	font-size: 14px;
}

.font_address{
		font-family: gil;
	font-size: 13px;
}