@import 'settings';

.unsubscribe {

  & .wrapper-inner {
    padding: 26px 5px 13px 36px;

    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-left: 5px !important;
    }
  }

  & .container {
    margin: 0;
  }


  & .columns {
    padding-bottom: 0;
  }
}
