@import 'settings';

.order {
    &__status {
        font-weight: bold;
        margin-bottom: 0;
        margin: 10px;
    }
    &__tenant_description {
        .tenant-name {
            color: $primary-color;
            font-weight: bold;
        }
        .tenant-airport-name {
            color: $primary-color;
        }
    }
}