<wrapper class="content-email">
  <container>
    <row class="collapse">
      <columns small="12" large="12">

          <h4>%%ac_title</h4>
          <spacer size="15"></spacer>
          <p>%%ac_text_1</p>
          <button href="%%ac_btn_link">%%ac_btn_text</button>
          <p>%%ac_text_2</p>
          <p><a href="%%ac_btn_link">%%ac_btn_link</a></p>
          <spacer size="15"></spacer>
          <p>%%ac_text_3<span class="text-block">%%ac_text_4</span></p>
      </columns>
    </row>
  </container>
</wrapper>