<container class="hotel_padding">
    <row class="collapse">
        <columns class="hotel_image">
            %%activity_image
        </columns>
        <columns class="hotel_description" small="8" large="8">
            <h4><strong>%%activity_name</strong></h4>
            <p class="font_message">%%activity_stars_level</p>            
            <p class="font_message">
                %%activity_address <br>
                %%activity_phone <br>
            </p>
        </columns>
    </row>
</container>