<row bgcolor="{{background-color}}" class="{{class-name}}">
  <columns>
    <spacer size="11"></spacer>
    <h4>4 - Tecnología Blockchain. Total transparencia con nuestros Business Partners</h4>
  </columns>
</row>
<row bgcolor="{{background-color}}" class="{{class-name}}">
  <columns large="4">
    <spacer size="10"></spacer>
    <p>- Inmutabilidad</p>
    <p>- Integridad</p>
    <p>- Fortaleza</p>
    <p>- Confiabilidad</p>
  </columns>
  <columns large="8">
    <center>
      <img style="max-width: 300px;" src="{{url-image}}" alt="" width="300" height="207" />
    </center>
  </columns>
</row>