<container class="hotel_padding">
    <row class="collapse">
        <columns class="hotel_image">
            %%car_image
        </columns>
        <columns class="hotel_description" small="8" large="8">
            <h4><strong>%%car_name</strong></h4>            
            <p class="font_car">
                <strong>%%class_text</strong>: %%car_class <br>
                <strong>%%transmission_text</strong>: %%car_transmission <br>

                <strong>%%max_passengers_text</strong>: %%car_max_passengers <br>
                <strong>%%doors_text</strong>: %%car_doors <br>
            </p>
            
        </columns>
    </row>
</container>