<wrapper class="content-hotel">
<container>
    <row class="collapse">
        <columns class="hotel_image">            
            %%booking_code
        </columns>
        <columns class="hotel_description" small="8" large="8">
            <h4><strong>%%lounge_vip_entry_code_text</strong></h4>            
            <p class="data-value font_message">                
                %%lounge_vip_entry_code <br>                
            </p>
        </columns>
    </row>
    <br>
</container>
</wrapper>