<wrapper class="content-data">
    <container>
        <row class="collapse">
            <columns small="12" large="12">
                <ul>
                    <li><p class="font_message"><strong>%%reference_number_text</strong>: <span class="data-value">%%ref_from_provider</span></p></li>                    
                    <li><p class="font_message"><strong>%%checkin_text</strong>: <span>%%checkin</span></p></li>
                    <li><p class="font_message"><strong>%%booking_type_text</strong>: <span>%%booking_type</span></p></li>
                    <li><p class="font_message"><strong>%%status_text</strong>: <span class="data-value2">%%status</span></p></li>
                    <li><p class="font_message"><strong>%%price_text</strong>: <span>%%price</span></p></li>
                </ul>
            </columns>
        </row>
    </container>
</wrapper>

