<wrapper bgcolor="#ffffff" class="table-border">
  <container>
    <row>
      <columns>
        <span class="text-header">
          Creamos tu APP del %%name-airport GRATIS generando nuevo ingresos
        </span>
      </columns>
    </row>

    <row>
      <columns>
        <span class="text-header">Estimado, Sr. %%first-name %%last-name.</span>
      </columns>
    </row>

    <row>
      <columns>
        <span class="text-header">
          Gracias por aceptar mi invitación a conectar a través de Linkedin, es un placer contactarlo desde Flyers Concierge. Mi nombre
          es %%contact-name y me gustaría presentarle cordialmente nuestra propuesta de negocios SIN COSTO para el %%name-airport,
          la cual le brindara acceso a una amplia variedad de servicios que beneficiaran al aeropuerto y los usuarios a través de nuestra
          Aplicación Marca Blanca GRATUITA Configurable que le permitirá:
        </span>
      </columns>
    </row>

    <row>
      <columns>
        <ul>
          <li class="text-header">Incrementar ingresos adicionales y de retail</li>
          <li class="text-header">Mejorar la experiencia del pasajero</li>
          <li class="text-header">Expandir el area geografica de negocios del aeropuerto</li>
        </ul>
      </columns>
    </row>
    <row>
      <columns>
        <span class="text-header">
          En el siguiente E-brochure podrá apreciar algunas de las principales características y ventajas de nuestra aplicación, junto
          con los beneficios que le proporcionará al aeropuerto y sus pasajeros. Adicionalmente podra ver algunos de los reconocidos
          proveedores de la industria de viajes y turismo con los que tenemos convenientes acuerdos de interés para los usuarios.
        </span>
      </columns>
    </row>
  </container>
</wrapper>