<wrapper bgcolor="#ffffff" class="table-border">
  <container>
    <row>
      <columns>
        <span class="text-header">
          Hello, Mr. %%first-name %%last-name
        </span>
      </columns>
    </row>
    <spacer size="8"></spacer>
    <row>
      <columns>
        <span class="text-header">
          It's a pleasure to contact you from Flyers Concierge. My name is %%contact-name and
          I would like to kindly introduce our business proposal at NO COST for the %%name-airport
        </span>
      </columns>
    </row>
    <spacer size="8"></spacer>
    <row>
      <columns>
        <span class="text-header">
          In the following E-brochure you may see some key features and advantages of our application, along with the benefits will 
          bring to the airport and its passengers.
        </span>
      </columns>
    </row>
    <spacer size="8"></spacer>
    <row>
      <columns>
        <span class="text-header">
          Mr Guillermo Ochoa, our CEO, who read us in CC will attend to the Passenger Terminal Conference next week and will be delighted
          to meet you there or at the Airport to share further details about our business model and proposal.
        </span>
      </columns>
    </row>
  </container>
</wrapper>