<wrapper bgcolor="#ffffff" class="table-border">
  <container>
    <row>
      <columns>
        <span class="text-header">
          Subject: We build your %%name-airport APP for Free! Generating new incomes
        </span>
      </columns>
    </row>

    <row>
      <columns>
        <span class="text-header">Hello, Mr. %%first-name %%last-name.</span>
      </columns>
    </row>

    <row>
      <columns>
        <span class="text-header">
          Thank you for accepting my LinkedIn request to connect, it's a pleasure to contact you from Flyers Concierge. My name is 
          %%contact-name and I would like to kindly introduce our business proposal at NO COST for the %%name-airport , which grants
          access to a wide range of services that will benefit the airport and users through our FREE White Label Customizable
          application by:
        </span>
      </columns>
    </row>

    <row>
      <columns>
        <ul>
          <li class="text-header">Increase ancillary and retail revenues</li>
          <li class="text-header">Improving passenger experience</li>
          <li class="text-header">Expand the geographical area of business of the Airport</li>
        </ul>
      </columns>
    </row>
    <row>
      <columns>
        <span class="text-header">
          In the following E-brochure you may see some key features and advantages of our application, along with the benefits will
          bring to the airport and its passengers. We also show you some of the tourism industry top services providers with
          which we have commercial ties of interest to users.
        </span>
      </columns>
    </row>
  </container>
</wrapper>