<spacer size="254"></spacer>
<spacer size="10"></spacer>
<container>
  <p class="text-header">2) Pantalla Principal – Otros servicios/Ofertas de Actividades:</p>
  <spacer size="30"></spacer>
  <row class="collapse border-table">
    <columns small="8" large="8">
      <img alt="alt" src="http://staging.ancillaries.flyersconcierge.com/media/icon_web/1.jpg" />
    </columns>
    <columns small="4" large="4">
      &nbsp;
    </columns>
  </row>

  <row class="collapse border-table">
    <columns small="8" large="8">
      <img alt="alt" src="http://staging.ancillaries.flyersconcierge.com/media/icon_web/2-b-spanish.jpg" />
    </columns>
    <columns small="4" large="4" valign="middle">
      &nbsp;
    </columns>
  </row>

  <row class="collapse border-table">
    <columns small="8" large="8">
      <img alt="alt" src="http://staging.ancillaries.flyersconcierge.com/media/icon_web/3-b-spanish.jpg" />
    </columns>
    <columns small="4" large="4" valign="middle">
      <row>
        <columns small="4" large="4">
          <img class="img" alt="fecha1" width="79" height="496" src="http://staging.ancillaries.flyersconcierge.com/media/icon_web/fecha1-b.jpg"
          />
        </columns>
        <columns small="7" large="7" valign="middle">
          <div class="text-callout">
            <p class="text-center yellow">
              Bloques Acceso a
              <br>Servicios propios
              <br>del aeropuerto y
              <br>terceros
              <br>configurables
            </p>
          </div>
        </columns>
      </row>
    </columns>
  </row>

  <row class="collapse border-table">
    <columns small="8" large="8">
      <img class="m-l-6" alt="alt" src="http://staging.ancillaries.flyersconcierge.com/media/icon_web/5-b-spanish.jpg" />
    </columns>
    <columns small="4" large="4" valign="middle">
      &nbsp;
    </columns>
  </row>

  <row class="collapse border-table">
    <columns small="8" large="8">
      <img class="m-l-7" alt="spacer" src="%%imageDos" />
    </columns>
    <columns small="4" large="4" valign="middle">
      <row>
        <columns small="4" large="4">
          <img class="img" alt="fecha1" width="82" height="111" src="http://staging.ancillaries.flyersconcierge.com/media/icon_web/fecha2-b.jpg"
          />
        </columns>
        <columns small="7" large="7" valign="middle">
          <div class="text-callout">
            <p class="text-center">
              Carrusel
              <br>Ofertas de
              <br>Actividades
            </p>
          </div>
        </columns>
      </row>
    </columns>
  </row>

  <row class="collapse border-table">
    <columns small="8" large="8">
      <img alt="alt" src="http://staging.ancillaries.flyersconcierge.com/media/icon_web/7-b-spanish.jpg" />
    </columns>
    <columns small="4" large="4" valign="middle">
      &nbsp;
    </columns>
  </row>
</container>