<wrapper bgcolor="#ffffff" class="table-border">
  <container>
<row class="collapse collapse__firma">
  <columns>
    <spacer size="10"></spacer>
    <span class="text-title">Kind regards,</span>
    <spacer size="5"></spacer>
  </columns>
</row>

<row class="collapse collapse__firma">
  <columns>
    <span class="text-small text-green text-bold">
      Maximiliano Vicini
    </span>
  </columns>
</row>

<row class="collapse collapse__firma">
  <columns>
    <span class="text-small text-bold">
      Affiliates Relations Manager
    </span>
  </columns>
</row>

<row class="collapse collapse__firma">
  <columns>
    <span class="text-small text-gris">
      Skype: “maximiliano.vicini1978” | GMT -3
    </span>
  </columns>
</row>

<row class="collapse collapse__firma">
  <columns>
    <span class="text-small text-gris">
      Phone: +54 11 4589-6487 / 6427
    </span>
  </columns>
</row>

<row class="collapse collapse__firma">
  <columns>
    <img width="174" height="50" src="http://staging.ancillaries.flyersconcierge.com/media/icon_web/logo_flyers.jpg" alt="logofirma" wbeuser="plamblot@flyersconcierge.com" />
  </columns>
</row>

<row class="collapse collapse__firma">
  <columns>
    <span class="text-small text-gris">
      HQ: 10 The Lawns - Liffey Hall - Newbridge - Co. Kildare - Ireland
    </span>
  </columns>
</row>

<row class="collapse collapse__firma">
  <columns>
    <span class="text-small text-gris">
      Latam: Av. del Libertador 110 P 1º B - Vte. Lopez - Buenos Aires - Argentina
    </span>
  </columns>
</row>

</container>
</wrapper>