<row bgcolor="{{background-color}}" class="{{class-name}}">
  <columns>
    <spacer size="11"></spacer>
    <h4>5 - Servicios gratuitos para viajeros</h4>
    <spacer size="5"></spacer>
    <p>1) Promociones de los productos y servicios del aeropuerto</p>
    <p>2) Mapas interiores navegables del aeropuerto</p>
    <p>3) Comunicación GRATUITA con el Servicio de Atencion al Cliente del Aeropuerto a través de VoIP</p>
    <p>4) Mensajes personalizados (push)</p>
    <p>5) Información del Aeropuerto: ubicación, hora local, clima, regulaciones y Salas VIP</p>
    <p>6) Alertas de estado de vuelos de +900 lineas aéreas</p>
  </columns>
</row>