<row bgcolor="{{background-color}}" class="{{class-name}}">
  <columns>
    <spacer size="11"></spacer>
    <h4>5 - Free Services for travelers</h4>
    <spacer size="5"></spacer>
    <p>1) Promotions of the airport products & services</p>
    <p>2) Airport's indoor navigation maps</p>
    <p>3) FREE communication with the Airport Customer Service Desk through VoIP</p>
    <p>4) Personalized messages (push)</p>
    <p>5) Airport information: location, local time, weather, regulations & VIP lounges</p>
    <p>6) Flight status alerts for +900 airlines</p>
  </columns>
</row>