<wrapper class="content-hotel">
    <container>
        <row class="collapse">
            <columns class="hotel_image" >
                %%hotel_image
            </columns>
            <columns class="hotel_description" small="8" large="8">
                <h4><strong>%%hotel_name</strong></h4>
                <p class="font_message">%%hotel_category</p>
                <p class="font_message">
                    %%hotel_address <br>
                    %%hotel_phone <br>
                </p>
            </columns>
        </row>
    </container>
</wrapper>