<container class="content-hotel">
    <row class="collapse">
        <columns class="hotel_image">
            %%lounges_image
        </columns>
        <columns class="hotel_description" small="8" large="8">
            <h4><strong>%%lounges_name</strong></h4>
            <p class="font_ĺounge">
                %%lounge_airport_location_description <br>
                %%lounge_airport_name <br>
                %%units <br>
                %%lounge_terminal <br>
            </p>
        </columns>
    </row>
</container>
