%%if_map
<spacer size="20"></spacer>
<container>
    <row class="collapse">
        <columns small="12" large="12">
            <h3><p class="font_message"><strong>%%map_title_text</strong></p></h3>
            <center>
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=%%activity_latitude,%%activity_longitude&zoom=12&size=400x200&markers=color:red%7Clabel:H%7C%%activity_latitude,%%activity_longitude&key=%%apikey">
            </center>
        </columns>
    </row>
</container>
%%endif_map
