<row bgcolor="{{background-color}}" class="{{class-name}}">
  <columns>
    <spacer size="11"></spacer>
    <h4>6 - Servicios de pago para viajeros</h4>
    <spacer size="5"></spacer>
    <p>1) Hoteles (+ 157.000)</p>
    <p>2) Alertas de Estado de Vuelos (+900 lineas aéreas)</p>
    <p>3) City tours (90 países)</p>
    <p>4) Museos / Eventos / Teatros (90 países)</p>
    <p>5) Pases de Ciudades (90 países)</p>
    <p>6) Tours Panorámicos (90 países)</p>
    <p>7) Tours Aéreos (90 países)</p>
    <p>8) Tours Acuáticos (90 países)</p>
    <p>9) Pases de Atracciones (90 países)</p>
    <p>10) Tours de Compras (90 países)</p>
    <p>11) Tours Guiados de Múltiples Días (90 países)</p>
    <p>12) Paquetes Turísticos y Combos (90 países)</p>
    <p>13) Parques Temáticos (90 países)</p>
    <p>14) Deportes Acuáticos (90 países)</p>
    <p>15) Ski (90 países)</p>
    <p>16) Golf (90 países)</p>
    <p>17) Cenas show (90 países)</p>
    <p>18) Restaurantes (90 países)</p>
    <p>19) Taxis/traslados (43,000 ciudades/ 190 países)</p>
    <p>20) Alquiler de autos</p>
    <p>21) Salas VIP en Aeropuertos (+300)</p>
    <p>22) Reserva/Pago de Estacionamiento del Aeropuerto (Integración API requerida)</p>
  </columns>
</row>