<row bgcolor="{{background-color}}" class="{{class-name}}">
  <columns>
    <spacer size="11"></spacer>
    <h4>6 - Paid Services for travelers</h4>
    <spacer size="5"></spacer>
    <p>1) Hotels (+ 157.000)</p>
    <p>2) Flights Status Alerts (+900 airlines)</p>
    <p>3) City tours (90 countries)</p>
    <p>4) Museums / Events / Theatres (90 countries)</p>
    <p>5) City passes (90 countries)</p>
    <p>6) Sight seeing tours (90 countries)</p>
    <p>7) Air tours (90 countries)</p>
    <p>8) Boat tours (90 countries)</p>
    <p>9) Attractions passes (90 countries)</p>
    <p>10) Shopping tours (90 countries)</p>
    <p>11) Multiple days guided tours (90 countries)</p>
    <p>12) Tourism packages & combos (90 countries)</p>
    <p>13) Theme parks (90 countries)</p>
    <p>14) Water sports (90 countries)</p>
    <p>15) Ski (90 countries)</p>
    <p>16) Golf (90 countries)</p>
    <p>17) Dinner shows (90 countries)</p>
    <p>18) Restaurants (90 countries)</p>
    <p>19) Taxis/transfers (43,000 Cities/ 190 Countries )</p>
    <p>20) Car rentals</p>
    <p>21) VIP lounges at Airports (+300)</p>
    <p>22) Airport's parking booking / payment (API integration required)</p>
  </columns>
</row>