<row bgcolor="{{background-color}}" class="{{class-name}}">
  <columns>
    <spacer size="11"></spacer>
    <h4>6 - Paid Services for travelers</h4>
    <spacer size="5"></spacer>
    <p>1) Hotels (+ 157.000)</p>
    <p>2) Flights Status Alerts ( +900 airlines)</p>
    <p>3) City tours (90 countries)</p>
    <p>4) Museums / Events / Theatres (90 countries)</p>
    <p>5) City Passes (90 countries)</p>
    <p>6) Sight seeing Tours (90 countries)</p>
    <p>7) Air Tours (90 countries)</p>
    <p>8) Boat Tours (90 countries)</p>
    <p>9) Attractions Passes (90 countries)</p>
    <p>10) Shopping Tours (90 countries)</p>
    <p>11) Multiple Days Guided Tours (90 countries)</p>
    <p>12) Tourism Packages & Combos (90 countries)</p>
    <p>13) Theme Parks (90 countries)</p>
    <p>14) Water Sports (90 countries)</p>
    <p>15) Ski (90 countries)</p>
    <p>16) Golf (90 countries)</p>
    <p>17) Dinner Shows (90 countries)</p>
    <p>18) Restaurants (90 countries)</p>
    <p>19) Taxis/Transfers (43,000 Cities/ 190 Countries )</p>
    <p>20) Car Rentals</p>
    <p>21) VIP lounges at Airports (+300)</p>
    <p>22) Airport's parking booking / payment (API integration required)</p>
  </columns>
</row>