<wrapper class="status">
  <container>
    <row>
      <columns small="12" large="4" class="large-offset-3">
          <h5 class="text-left status__title">%%alert_status-duration_title<span class="status__time">%%alert_status-duration_time</span><span class="status__percentage">%%alert_status-percentage</span></h5>
          <h5 class="text-left status__title">%%alert_status-title<span class="status__display">%%alert_status-display</span></h5>
      </columns>
    </row>
  </container>
</wrapper>
