<wrapper class="content-hotel">
<container>
    <row class="collapse">
        <columns class="hotel_description" small="8" large="8">
            <h4><strong>%%procedure %%number_procedure</strong></h4>            
        </columns>
    </row>
    <row class="collapse">
            <columns small="12" large="12">
                <ul>
                    <li><p class="font_message"><strong>%%passport</strong>: <span class="data-value">%%code_passport</span></p></li>                    
                    <li><p class="font_message"><strong>%%country</strong>: <span>%%code_country</span></p></li>
                    <li><p class="font_message"><strong>%%line</strong>: <span>%%code_line</span></p></li>
                    <li><p class="font_message"><strong>%%departure</strong>: <span class="data-value">%%code_departure</span></p></li>
                    <li><p class="font_message"><strong>%%ticket</strong>: <span>%%code_ticket</span></p></li>
                    <li><p class="font_message"><strong>%%date</strong>: <span>%%code_date</span></p></li>
                    <li><p class="font_message"><strong>%%status</strong>: <span class="data-value">%%code_status</span></p></li>
                </ul>
            </columns>
        </row>
    <br>
</container>
</wrapper>