<container class="order__tenant_description">
    <row>
        <columns small="12" large="12">
            <img src="http://staging.airports.flyersconcierge.com/media/tenant_logo/75/punto_musical.jpg">
        </columns>
    </row>
    <row>
        <columns small="6" large="6">
            <h1 class="tenant-name">%%tenant_name</h1>
            <h3 class="tenant-airport-city">%%tenant_airport_city</h3>
            <h4 class="tenant-airport-name">%%tenant_airport_name</h4>
            <h5 class="tenant-airport-fs">%%tenant_airport_fs</h5>
        </columns>
        <columns small="6" large="6">
            <p class="tenant-airport-fs">%%pickup_at</p>
            <p class="tenant-airport-fs">%%time_email</p>
            <p class="tenant-airport-fs">%%pickup_place</p>
        </columns>
    </row>
</container>